<!DOCTYPE HTML>
<html lang="hu"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Forex - Pozíció nyitás</title>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no"/>

    <link rel="stylesheet"
          href="/assets/css/main.css"/>
</head>

<body class="is-preload">

<div id="page-wrapper">

    <div id="main-wrapper">
        <div class="container">

            <section class="box">

                <header>
                    <h2>Forex pozíció nyitás</h2>
                </header>

                <form th:action="@{/open_position}"
                      th:object="${param}"
                      method="post">

                    <label>Instrumentum</label>

                    <select th:field="*{instrument}">
                        <option value="EUR_USD">EUR_USD</option>
                        <option value="USD_CHF">USD_CHF</option>
                        <option value="GBP_USD">GBP_USD</option>
                        <option value="USD_JPY">USD_JPY</option>
                    </select>

                    <br>

                    <label>Mennyiség</label>

                    <input type="number"
                           min="-100"
                           max="100"
                           th:field="*{units}">

                    <p>
                        Pozitív érték: Long,
                        negatív érték: Short.
                    </p>

                    <input type="submit"
                           value="Pozíció nyitása">

                </form>

            </section>

        </div>
    </div>

</div>

</body>
</html>