<!DOCTYPE HTML>
<html lang="hu">
<head>
    <title>Java alkalmazások - Beadandó</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <link rel="stylesheet" href="/assets/css/main.css"/>
</head>

<body class="is-preload homepage">
<div id="page-wrapper">

    <div id="header-wrapper">
        <header id="header" class="container">

            <div id="logo">
                <h1>
                    <a href="/">Java beadandó</a>
                </h1>
            </div>

            <nav id="nav">
                <ul>
                    <li class="current">
                        <a href="/">Főoldal</a>
                    </li>

                    <li>
                        <a href="/soap">SOAP</a>
                    </li>

                    <li>
                        <a href="#">Forex</a>
                        <ul>
                            <li>
                                <a href="/account_info">Forex-account</a>
                            </li>

                            <li>
                                <a href="/actual_prices">Forex-AktÁr</a>
                            </li>

                            <li>
                                <a href="/hist_prices">Forex-HistÁr</a>
                            </li>

                            <li>
                                <a href="/open_position">Forex-Nyit</a>
                            </li>

                            <li>
                                <a href="/positions">Forex-Poz</a>
                            </li>

                            <li>
                                <a href="/close_position">Forex-Zár</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>

        </header>
    </div>

    <div id="banner-wrapper">
        <div id="banner" class="box container">
            <div class="row">
                <div class="col-12">
                    <h2>Java alkalmazások</h2>

                    <p>
                        Spring Boot alapú webalkalmazás MNB SOAP
                        és Oanda Forex szolgáltatások használatával.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="main-wrapper">
        <div class="container">

            <div class="row gtr-200">

                <div class="col-6 col-12-medium">
                    <section class="box feature">
                        <div class="inner">
                            <header>
                                <h2>MNB SOAP</h2>
                            </header>

                            <p>
                                A Magyar Nemzeti Bank webszolgáltatásából
                                historikus devizaárfolyamok lekérdezése
                                és grafikus megjelenítése.
                            </p>
                        </div>
                    </section>
                </div>

                <div class="col-6 col-12-medium">
                    <section class="box feature">
                        <div class="inner">
                            <header>
                                <h2>Oanda Forex</h2>
                            </header>

                            <p>
                                Számlainformációk, aktuális és historikus
                                árfolyamok, valamint pozíciók kezelése.
                            </p>
                        </div>
                    </section>
                </div>

            </div>

        </div>
    </div>

    <div id="footer-wrapper">
        <footer id="footer" class="container">

            <div id="copyright">
                <ul class="menu">
                    <li>
                        Készítette:
                    </li>
                    <li>
                        Békési Patrik Olivér - NLYG87
                    </li>
                    <li>

                    </li>
                    <li>
                        Design: HTML5 UP
                    </li>
                </ul>
            </div>

        </footer>
    </div>

</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>